<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Sobre os Questionários</string>
		<string>Resultados de Questionários Anteriores</string>
	</array>
	<array>
		<string>￼Rastreador do Distúrbio de Baixo Desejo Sexual (HSDD)</string>
		<string>Índice Internacional de Função Erétil Simplificado (IIEF-5)</string>
		<string>Questionário de Impotência Sexual - Causas Psicogênicas versus Causas Orgânicas (OVP)</string>
	</array>
	<array>
		<string>Índice de Ejaculação Precoce (IPE)</string>
		<string>Questionário Sobre Qualidade da Ereção (QEQ)</string>
		<string>Questionário Sobre Auto-estima e Relacionamento (SEAR)</string>
		<string>Questionário Sobre Qualidade de Vida Sexual (SQoL-M)</string>
	</array>
	<array>
		<string>Inquérito sobre o Nível de Satisfação com o Tratamento para a Impotência Sexual (EDITS)
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;string&gt;Inquérito sobre o Nível de Satisfação com o Tratamento para a Impotência Sexual (EDITS)&lt;/string&gt;
&lt;/plist&gt;
&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;string&gt;Inquérito sobre o Nível de Satisfação com o Tratamento para a Impotência Sexual (EDITS)&lt;/string&gt;
&lt;/plist&gt;
</string>
	</array>
</array>
</plist>
